<!-- views/partials/articles-form.handlebars -->

<fieldset>
  <legend>New Article</legend>
  <!-- TITLE -->
  <!-- TITLE -->
  <div class="form-group">
    <label for="article-title">Title</label><br>
    <input class="form-control" id="article-title" type="text" name="title" value="{{article.title}}"/>
  </div>
  <!-- bin -->
  <!-- MOVIE TITLE -->
  <div class="form-group">
    <label for="bin">Bin</label><br>
    <input class="form-control" id="bin" type="text" name="bin" value="{{articles.bin}}" />
  </div>

  <!-- DESCRIPTION -->
   <div class="form-group">
     <label for="article-description">Description</label><br>
     <textarea class="form-control" id="article-description" name="description" rows="10" />{{article.description}}</textarea>
   </div>
 </fieldset>


</fieldset>
