<form method="POST" action="/articles">
  {{> articles-form}}

  <!-- BUTTON -->
  <p>
    <button type="submit">Save Article</button>
  </p>

</form>

<!--

const Article = mongoose.model('Article', {
  name: String,
  description: String,
  bin: String
}); -->
