<!-- views/articles-edit.handlebars -->

<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <form method="POST" action="/articles/{{article._id}}?_method=PUT">
      {{> articles-form}}
      <!-- BUTTON -->
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Save Article</button>
      </div>
    </form>
  </div>
</div>
